html{
height=100%;
min-height=100%;
}

#navbar{
    display: grid;
    grid-template-columns: 60px 60px 1fr 60px 60px 60px 60px;
    grid-template-rows: 50px;
    grid-template-areas:
    "about store . gmail images google-apps-button sign-in"
    ;
}

a{
    text-decoration: none;
    font-size: 13px;
    font-style: arial sans-serif;
}

a:hover{
    text-decoration: underline;
}

#about{
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store{
    grid-area: store;
    justify-self: center;
    align-self: center;
}
#gmail{
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}
#images{
    grid-area: images;
    justify-self: center;
    align-self: center;
}
#google-apps-button{
    grid-area: google-apps-button;
    justify-self: center;
    align-self: center;
}
#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
}

#google-apps-button:hover{
   
}